/* Pseudo Class */

.div1{
    width: 300px;
    height: 100px;
    background-color: green;
}

/* .div1:first-child{
    background-color: orange;
    color: red;
} */

/* .div1:last-child{
    background-color: gray;
    color:red;
} */

/* .div1:first-of-type{
    background-color: orange;
    color:red;
} */

/* .div1:last-of-type{
    background-color: gray;
    color:blue;
} */


/* .div1:nth-child(1){
    background-color: orange;
    color:red;
} */

/* .div1:nth-child(1){
    background-color: orange;
    color:red
} */

/* .div1:nth-child(odd){
    background-color: orange;
    color:red;
} */

.div1:nth-of-type(even){
    background-color: orange;
    color: red;
}

.div1:nth-of-type(odd){
    background-color: black;
}

div:nth-child(2){
    background-color: green;
}

.div1:nth-child(10){
    background-color: blue;
}







/* 
1.first-child
2.last-child
3.first-of-type
4.last-ot-type
5.nth-child()
6.nth-of-type(),even,odd

 */



/* Ordinary Number */
/* 1st
   2nd
   3rd
   4th
   5nth
 */