.circle1,.circle2,.circle3,.circle4,.circle5{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle1{
    background: conic-gradient(yellow,red,green);
}

.circle2{
    background: conic-gradient(rgba(98, 219, 245, 0.8),rgba(222, 98, 245, 0.8),rgba(245, 218, 98, 0.8));
}

.circle3{
    background:conic-gradient(hsla(119, 100%, 50%, 1),hsla(311, 100%, 50%, 1),hsla(111, 100%, 50%, 1))
}

.circle4{
    background:conic-gradient(#c034eb,#34eb92,#4334eb);
}

.circle5{
    background:conic-gradient(
        red 40%,
        yellow 0% 50%,
        green 0% 80%,
        blue 0% 100%
    )
}

.circle6{
    width: 200px;
    height: 200px;
    background: linear-gradient(
        45deg,
        red 30%,
        green 0% 40%,
        yellow 0% 50%,
        blue 0% 100%
    );
}

.boxone{
    width:600px;
    height: 300px;
    background-color: green;


     display: flex;
    justify-content: center;
    align-items: center; 


    /* display: grid;
    place-items: center; */

   position: relative;


}

.boxone .div1{
    width: 300px;
    height: 300px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;


    position: absolute;
    /* left: 0;
    top:  0px; */

    z-index: 1;
}

.boxone .div2{
    width: 320px;
    height: 320px;
    background-color: steelblue;
    border-radius: 50%;
    /* background: linear-gradient(red,orange); */
    background:conic-gradient(
        red,
        violet 30%,
        red 0%,
        blue 70%,
        red 0%,
        yellow 100%
    
    ) ;

    position:absolute;
    /* top:0;
    left: 0; */
}

.pointercontainer{
     width: 20px;
    height: 200px;
    /* background-color: gray; */

    position: absolute;
    z-index: 3;
    top:-50px;
    transform-origin: bottom;

    animation-name: apple;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.pointer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: block;
} 

@keyframes apple{
    /* from{
       transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    } */

    /* 0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1turn);
    } */

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-1turn);
    }
}




/* display:grid
   place-items:center
 */